<MudGrid Style="height: 172px;" Class="overflow-visible">
    <MudItem xs="4" Class="d-flex justify-center align-center" Style="height: inherit">
        <MudTextField
            @bind-Value="Search"
            Label="Поиск"
            Variant="Variant.Outlined"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Filled.Search"
            AdornmentColor="Color.Dark"
            Clearable="true"
            Margin="Margin.Dense"
            Style="width: 80%"/>
    </MudItem>
    <MudItem xs="4" Class="d-flex align-center" Style="height: inherit">
        <MudImage Src="Pictures/logo.png" Fluid="true"></MudImage>
    </MudItem>
    <MudItem xs="4" Class="flex-column">
        <MudText Align="Align.End" Style="font-size: 16px; font-family: OpenSans, sans-serif" Color="Color.Dark">
            +7 (902) 264-34-24
        </MudText>
        <div class="feedback">
            <MudLink Color="Color.Dark" Class="mr-2 cursor-pointer" Style="font-size: 12px; font-family: OpenSans, sans-serif">
                Отправить сообщение
            </MudLink>
            <MudLink Color="Color.Dark" Class="cursor-pointer" Style="font-size: 12px; font-family: OpenSans, sans-serif">
                Обратный звонок
            </MudLink>
        </div>
        <div class="cart-info mt-2">
            <MiniCart Cart="Cart"></MiniCart>
        </div>
    </MudItem>
</MudGrid>

<MudDivider></MudDivider>

<MudGrid>
    <MudItem xs="3"></MudItem>
    <MudItem xs="6" Class="d-flex justify-center">
        <MudStack Row="true" Style="height: 52px">
            <MudButton Variant="Variant.Text"
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Топы
            </MudButton>
            <MudButton Variant="Variant.Text" 
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Платья
            </MudButton>
            <MudButton Variant="Variant.Text"
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Свитера
            </MudButton>
            <MudButton Variant="Variant.Text"
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Джинсы
            </MudButton>
            <MudButton Variant="Variant.Text" 
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Юбки
            </MudButton>
            <MudButton Variant="Variant.Text" 
                       Style="@($"font-family: OpenSans, sans-serif; font-size: 15px; color: {Colors.Grey.Darken1}")">
                Акссесуары
            </MudButton>
        </MudStack>
    </MudItem>
    <MudItem xs="3"></MudItem>
</MudGrid>

<MudDivider></MudDivider>

<MudCarousel TData="object" ShowArrows="true" AutoCycleTime="TimeSpan.FromSeconds(5)" 
             Style="height: 420px" Class="mt-10">
    <MudCarouselItem>
        <MudImage Src="Pictures/pic1.jpg" ObjectFit="ObjectFit.Fill" Style="height: 100%; width: 100%"></MudImage>
    </MudCarouselItem>
    <MudCarouselItem>
        <MudImage Src="Pictures/pic2.jpg" ObjectFit="ObjectFit.Fill" Style="height: 100%; width: 100%"></MudImage>
    </MudCarouselItem>
</MudCarousel>

<Catalog></Catalog>


<div class="mt-10 mb-10">OOLOL</div>