<MudPaper Class="@($"z-20 {Elevation}")"
          Elevation="@(MiniCartShowed ? 25 : 0)" Outlined="@MiniCartShowed" Width="80%">
    <MudStack>
        <MudStack Row="true" Justify="Justify.FlexEnd" Class="ma-1">
            <MudPaper Elevation="0" Style=@($"background-color:{Colors.Grey.Lighten5}; font-size: 14px;")
                      Square="true" Outlined="true" Width="160px" Height="37px"
                      Class="d-flex justify-center align-center cursor-pointer"
                      @onclick="OnClickMiniCart">
                <MudIcon Icon="@Icons.Rounded.ShoppingCart" Size="Size.Small"></MudIcon>
                <span>@($"Корзина: {Cart.ShoesList.Count} {Product}")</span>
            </MudPaper>
        </MudStack>

        @if (MiniCartShowed)
        {
            <div style="max-height: 240px; overflow: auto" id="product-list">
                <MudList Clickable="false">
                    @foreach (var shoes in Cart.ShoesList)
                    {
                        <MudItem Style="max-height: 75px">
                            <MudStack Row="true" Class="ma-1">
                                <MudImage Src="Pictures/pic1.jpg" ObjectFit="ObjectFit.Contain" Height="70"></MudImage>
                                <MudStack Spacing="1">
                                    <MudLink Color="Color.Dark" Style="font-family: OpenSans, sans-serif; font-size: 14px">
                                        @shoes.Name
                                    </MudLink>
                                    <MudText Style="font-family: OpenSans, sans-serif; font-size: 11px">
                                        Количество: 1
                                    </MudText>
                                    <MudText Style="font-family: OpenSans, sans-serif; font-size: 11px">
                                        Цена: @shoes.Price
                                    </MudText>
                                </MudStack>
                            </MudStack>
                        </MudItem>
                    }
                </MudList>
                <MudScrollToTop Selector="#product-list"></MudScrollToTop>
            </div>
            <MudPaper Style="@($"background-color: {Colors.Grey.Lighten3}")">
                <MudStack Class="ma-4" Spacing="0">
                    <MudStack Row="true">
                        <MudText Color="Color.Dark"
                                 Style="font-family: OpenSans, sans-serif; font-size: 14px; font-weight: bold;">
                            Сумма:
                        </MudText>
                        <MudText Color="Color.Dark"
                                 Style="font-family: OpenSans, sans-serif; font-size: 14px">
                            @(Cart.ShoesList.Sum(x => x.Price)) руб.
                        </MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudText Color="Color.Dark" 
                                 Style="font-family: OpenSans, sans-serif; font-size: 14px; font-weight: bold">
                            Скидка:
                        </MudText>
                        <MudText Style="font-family: OpenSans, sans-serif; font-size: 14px">
                            0 руб.
                        </MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudText Color="Color.Dark"
                                 Style="font-family: OpenSans, sans-serif; font-size: 14px; font-weight: bold">
                            Итого:
                        </MudText>
                        <MudText Color="Color.Dark" 
                                 Style="font-family: OpenSans, sans-serif; font-size: 14px">
                            @(Cart.ShoesList.Sum(x => x.Price)) руб.
                        </MudText>
                    </MudStack>
                    <MudStack Row="true" Spacing="1" Class="mt-2">
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Dark">Корзина</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small"Color="Color.Dark" >Оформить</MudButton>
                    </MudStack>
                </MudStack>
            </MudPaper>
        }

    </MudStack>
</MudPaper>